.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.text-overlay {
    position: absolute;
    bottom: 20px; /* Atur posisi sesuai kebutuhan */
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 75%;
    opacity: 0; /* Mulai dengan tidak terlihat */
    transition: opacity 0.5s ease; /* Transisi halus untuk teks */
}

.w-100:hover .text-overlay {
    opacity: 20; /* Menampilkan teks saat hover */
}

.nav-link:hover {
    color: white !important;
}

/* Ganti gambar saat hover */
